header {
  margin: 0 0 20px;
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #f6f6f6;
  border-bottom: #eaeaea 1px solid;

  @media screen and(max-width:575px) {
    padding: 1.5rem 1rem;
  }

  h1{
    margin-bottom: 10px;
  }
  
  img{
    max-width: 120px;
  }
  
  h2 {
    margin: 0;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.75rem;

    @media screen and (max-width: 991px) {
      max-width: 500px;
      margin: 0 auto;
    }

    @media screen and(max-width:575px) {
      font-size: 1.3rem;
    }
  }
}
