<div class="wrapper">
  <app-header
    title="COVID-19"
    description="Um painel para acompanhar os dados em tempo real"
  ></app-header>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3" *ngFor="let mainInfo of mainInformationData">
        <app-card [content]="mainInfo"></app-card>
      </div>
    </div>
    <p class="last-update">
      Última atualização em:
      <time >{{lastUpdate| date:'dd/MM/yyyy'}} às {{lastUpdate| date:'HH:mm'}}</time>
    </p>

  
  </div>
</div>
