.last-update{
    font-size: .8rem;
    font-style: italic;
    text-align: right;
    margin: 0;

    @media screen and (max-width: 575px){
        text-align: center;
    }

    time{
        display: inline-block;
    }
}

h4{
    font-family: var(--font-secondary);
    font-weight: 500;

    small{
        font-size: 1rem;
    }
}