:root {
  /** colors **/
  --color-primary: #844685;
  --color-secondary: #10375c;
  --color-danger: #eb4559;
  --color-warning: #f78259;
  --color-info: #00bcd4;
  --color-success: #4cd3c2;
  --color-light: #fafafa;
  --color-dark: #222831;

  /** fonts **/
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Baloo Paaji 2', sans-serif;
}
