div {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 48px;
    position: relative;
    z-index: 1100;
  }

  &::after {
    content: "";
    display: block;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--color-dark);
    opacity: 0.75;
    z-index: 900;
  }
}
